DATABASE_URL=postgres://relayforge:relayforge@localhost:5432/relayforge
KAFKA_BROKERS=localhost:9094
DELIVERY_RETRY_DELAYS_MS=30000,120000,600000,3600000
DELIVERY_MAX_ATTEMPTS=5
DELIVERY_PROCESSING_LEASE_MS=45000
DELIVERY_RESPONSE_PREVIEW_MAX_BYTES=4096
DELIVERY_SENSITIVE_HEADERS=authorization,cookie,set-cookie,proxy-authorization,proxy-authenticate,x-relayforge-signature
